<div style="text-align:center">
  <p><b><h1>What We Offer</h1></b></p>
  </div>
    

<div style="text-align:center">
  <owl-carousel-o [options]="customOptions">
    
    <ng-template carouselSlide>
      <a href="https://en.wikipedia.org/wiki/Project_management"><img src="../../../assets/images/rsz_proj_mgmt.jpg"></a>
    </ng-template>  
    <ng-template carouselSlide>
      <a href="https://en.wikipedia.org/wiki/Business_analysis"><img src="../../../assets/images/rsz_business_analysis.jpg"></a>
    </ng-template>  
    <ng-template carouselSlide>
      <a href="https://en.wikipedia.org/wiki/Business_transformation"><img src="../../../assets/images/rsz_transformation.jpg"></a>
    </ng-template> 
    <ng-template carouselSlide>
      <a href="https://en.wikipedia.org/wiki/Scrum_(software_development)"><img src="../../../assets/images/rsz_agile-scrum-process-3.jpg"></a>
    </ng-template>  
    <ng-template carouselSlide>
      <a href="https://en.wikipedia.org/wiki/Stakeholder_(corporate)"><img src="../../../assets/images/rsz_powner.jpg"></a>
    </ng-template>  
    <ng-template carouselSlide>
      <a href="https://en.wikipedia.org/wiki/Product_management"><img src="../../../assets/images/rsz_pmgmt.jpg"></a>
    </ng-template>  
  
  </owl-carousel-o>
 </div>


<div class="row">
  <div class="col-md-4">
    
    <div class="card mb-4 box-shadow">
      <div class="card-body">

          <p class="card-text"><b>Hands On Training</b>
            </p>


        <p class="card-text">Over the last 10 years, we have helped thousands of people attain rewarding careers in project management and business analysis. Our model is quite simple. We believe in training you on the job. When it’s hands on and practical, you come out of it all as an experienced project management or business analysis professional ready to earn higher end of the rates being paid.
        </p>

        <!--iframe src="https://www.youtube.com/embed/1iccpf2eN1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->

      
      </div>
    </div>
  </div>
  

  <div class="col-md-4">
    
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        
          <p class="card-text"><b>Practical Work Experience</b>
          </p>

        <p class="card-text">As a Tech incubator, you will always have tonnes of project to get involved in gaining invaluable skills and expertise as a project management or business analysis professional. We operate within the digital and banking space, using industry standard tools and software to manage, analyse, monitor and control our project deliverables.</p>

  <!--iframe src="https://www.youtube.com/embed/1iccpf2eN1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->


      </div>
    </div>
  </div>

  
  <div class="col-md-4">
    
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        
          <p class="card-text"><b>Live Projects</b>
          </p>

        <p class="card-text">Our parent company, Notations Technology limited offers digital solutions within the banking sector. With a strong portfolio of digitally driven programmes and projects, you will have the opportunity to gain practical work experience as a project management or business analysis professional with digital expertise.
        </p>
      
<!--iframe src="https://www.youtube.com/embed/1iccpf2eN1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->


      </div>
    </div>
  </div>

  </div>


<div class="row" style="padding-bottom: 20px;">
  
<img class="card-img-top" src="../../../assets/images/agileWork.jpg" alt="Card image cap">
    
</div>

<div style="text-align:center">
  <p><b><h1>Our Digital Roles</h1></b></p>
  </div>

  <div style="text-align:center">
    Digital Product Owner
    </div>

    <div style="text-align:center">
      Digital Scrum Master
      </div>

      <div style="text-align:center">
        Digital Project Manager
        </div>


          
          
<div style="text-align:center">
  <p><b><h1>Our Tools</h1></b></p>
  </div>


  <div style="text-align:center">
    <owl-carousel-o [options]="customOptions">
      
      <ng-template carouselSlide>
        <img src="../../../assets/images/rsz_jira.jpg">
      </ng-template>  
      <ng-template carouselSlide>
        <img src="../../../assets/images/rsz_confluence.jpg">
      </ng-template>  
      <ng-template carouselSlide>
        <img src="../../../assets/images/rsz_trello_logo.jpg">
      </ng-template>  
      <ng-template carouselSlide>
        <img src="../../../assets/images/rsz_jira.jpg">
      </ng-template>  
      <ng-template carouselSlide>
        <img src="../../../assets/images/rsz_confluence.jpg">
      </ng-template>  
      <ng-template carouselSlide>
        <img src="../../../assets/images/rsz_trello_logo.jpg">
      </ng-template>  
            
    </owl-carousel-o>
   </div>


   

<footer>
  <p>Posted by: Broadwise LLC</p>
  <p>Contact information: <a href="mailto:contact@broadwise.com">
    contact@broadwise.com</a>.</p>
</footer>

<div>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="#" class="google"><i class="fa fa-google"></i></a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
  </div>
  </div>
  

