<div class="container">
<h4 class="justify-content-between align-items-center mb-3">
  <span class="text-muted">Your cart</span>
  <!--span class="badge badge-secondary badge-pill">{{totalitems}}</span-->
</h4>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th >Subscription</th>
            <th class="text-center">Price</th>
            <th>Add/Remove</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <!--tr *ngFor="let item of items; let i = index " >
            <td class="col-sm-8 col-md-6">
              <div class="media">
                <a class="thumbnail pull-left" href="#">
                  <img class="media-object" src="{{item.img}}" style="width: 72px; height: 72px;"> </a>
                <div class="media-body">
                  <h4 class="media-heading ">{{item.name}}</h4>
                </div>
              </div>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>$350</strong>
            </td>
            <td class="col-sm-1 col-md-1">
              <button  class="btn btn-danger btn-sm"(click)="removeProduct(i)">
                <span class="glyphicon glyphicon-remove"></span> Remove
              </button>
            </td>
          </tr-->

          <tr>
            <td class="col-sm-8 col-md-6">
              <div class="media">
                
                <div class="media-body">
                  <h4 class="media-heading ">15 Days Subscription</h4>
                </div>
              </div>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>$15</strong>
            </td>
            <td class="col-sm-1 col-md-1">
              <button  class="btn btn-success btn-sm"(click)="addProduct15Days()">
                <span class="glyphicon glyphicon-remove"></span> Add
              </button>
            </td>
            <td class="col-sm-1 col-md-1">
              <button  class="btn btn-danger btn-sm"(click)="removeProduct()">
                <span class="glyphicon glyphicon-remove"></span> Remove
              </button>
            </td>
          </tr>

          <tr>
            <td class="col-sm-8 col-md-6">
              <div class="media">
                
                <div class="media-body">
                  <h4 class="media-heading ">30 Days Subscription</h4>
                </div>
              </div>
            </td>
            <td class="col-sm-1 col-md-1 text-center">
              <strong>$30</strong>
            </td>
            <td class="col-sm-1 col-md-1">
              <button  class="btn btn-success btn-sm"(click)="addProduct30Days()">
                <span class="glyphicon glyphicon-remove"></span> Add
              </button>
            </td>
            <td class="col-sm-1 col-md-1">
              <button  class="btn btn-danger btn-sm"(click)="removeProduct()">
                <span class="glyphicon glyphicon-remove"></span> Remove
              </button>
            </td>
          </tr>

          <!--tr>
            <td>   </td>
            <td>
              <h5>Subtotal</h5>
            </td>
            <td class="text-right">
              <h5>
                <strong>${{subtotal}}</strong>
              </h5>
            </td>
          </tr>
          <tr>
            <td>   </td>
            <td>
              <h5>Estimated shipping</h5>
            </td>
            <td class="text-right">
              <h5>
                <strong>$6.94</strong>
              </h5>
            </td>
          </tr-->

          <tr>
            <td>   </td>
            <td>
              <h3>Current Selection</h3>
            </td>
            <td class="text-right">
              <h3>
               
                <strong>{{currentselection}}</strong>
              </h3>
            </td>
          </tr>


          <tr>
            <td>   </td>
            <td>
              <h3>Total</h3>
            </td>
            <td class="text-right">
              <h3>
                <strong>${{total}}</strong>
              </h3>
            </td>
          </tr>
          <tr>
            <td>   </td>
            <td>
              <button  class="btn btn-danger" *ngIf="authService.loggedIn()" [routerLink]="['/']">
                <span class="glyphicon glyphicon-shopping-cart"></span> Back
              </button>
            </td>
            <!--td>
                <button  class="btn btn-default" *ngIf="authService.loggedIn()" [routerLink]="['/products']">
                  <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                </button>
              </td-->
            <td>
              <button type="button" class="btn btn-success" *ngIf="authService.checkTotalNotZero()"(click)="checkout()">
              
                Checkout
                <span class="glyphicon glyphicon-play"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="GAKL2FLLWNA6U">
  <table>
  <tr><td><input type="hidden" name="on0" value="Life Long Learning">Life Long Learning</td></tr><tr><td><select name="os0">
    <option value="One time Payment">One time Payment £1.00 GBP</option>
  </select> </td></tr>
  </table>
  <input type="hidden" name="currency_code" value="GBP">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
  
  
  
  